<h><%= @game.players[0].name %> vs. <%= @game.players[1].name %></h>

<p><%= @game.players[0].name %>: <%= @game.players[0].hp %>HP
  <% if @game.turn == 0 %>
    <form action="/player_1_attacks" method="post">
      <input type="submit" name="player_1_attacks" value="player_1_attacks"/>
    </form>
    <% end %>
</p>

<p><%= @game.players[1].name %>: <%= @game.players[1].hp %>HP
  <% if @game.turn == 1 %>
    <form action="/player_2_attacks" method="post">
      <input type="submit" name="player_2_attacks" value="player_2_attacks"/>
    </form>
    <% end %>
</p>
