<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

<style media="screen">
  .hitpoints{
    float: left;
    width: 40%
  }
  .hello{
    position: absolute;
    left:100px;
    width: 90%;
  }
</style>

<body class='hello' background="https://img.memecdn.com/epic-pokemon-battle_o_1083984.jpg" background-position="center">
  <font face="courier" color="blue">
<h1 align="center"><%= @game.players[0].name %> vs. <%= @game.players[1].name %></h1>
<font/>
<br>
<br>
<br>
<br>
<div class="hitpoints">
  <p><%= @game.players[0].name %>: <%= @game.players[0].hp %>HP</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= @game.players[0].hp %>%" aria-valuenow="<%= (@game.players[0].hp) %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <br>
  <br>
  <p><%= @game.players[1].name %>: <%= @game.players[1].hp %>HP</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= (@game.players[1].hp) %>%" aria-valuenow="<%= (@game.players[1].hp) %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<font size="5" face="courier" color="blue">
<p> <% if session[:move].move != '' %>
  <%= @game.not_turn.name %> attacked with <%= session[:move].move %> and did <%= session[:move].dmg %> damage!
<% end %> </p>
<p> <%= @game.turn.name %>'s turn</p>
<font/>

<form action="/<%= @game.turn_link %>" method="post">
  <input type="submit" name="<%= @game.turn_link %>" value="Tackle"/>
</form>
<form action="/<%= @game.turn_link %>_dragon_rage" method="post">
  <input type="submit" name="<%= @game.turn_link %>" value="Dragon Rage"/>
</form>
<form action="/<%= @game.turn_link %>_splash" method="post">
  <input type="submit" name="<%= @game.turn_link %>" value="Splash"/>
</form>
<form action="/<%= @game.turn_link %>_thunderbolt" method="post">
  <input type="submit" name="<%= @game.turn_link %>" value="Thunderbolt"/>
</form>

</body>
</html>
